*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  color: var(--text-primary);
  background: var(--bg-page);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 100vh;
  margin-top: 72px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  display: inline-block;
  color: var(--color-white);
  font-size: var(--button-m-size);
  font-weight: var(--button-m-weight);
  line-height: var(--button-m-line);
  border-radius: 200px;
  transition: background-color 0.3s;
}

section {
  scroll-margin-top: 72px;
}

.container {
  min-width: 768px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}
