.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  background-color: var(--bg-card);
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.item {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 16px;
  align-items: center;
}

.avatar {
  grid-row: 1;
  grid-column: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-badge);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--h2-weight);
  font-size: var(--h2-size);
  color: var(--color-button);
}

.header {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.name {
  font-weight: var(--body-m-weight);
  font-size: var(--body-m-size);
  color: var(--text-primary);
}

.stars {
  display: flex;
  gap: 4px;
}
.starFilled,
.starEmpty {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.starFilled {
  color: var(--color-rating);
}

.starEmpty {
  color: var(--color-badge);
}

.comment {
  grid-row: 2;
  grid-column: 1 / 3;
  margin-top: 16px;
  font-size: var(--body-s-size);
  font-weight: var(--body-s-weight);
  line-height: var(--body-s-line);
  color: var(--text-secondary);
}
