.btn {
  background-color: var(--btn-primary-bg);
  color: var(--color-white);
  font-size: var(--button-m-size);
  font-weight: var(--button-m-weight);
  line-height: var(--button-m-line);
  border-radius: 200px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--btn-primary-bg-hover);
}
