.tabsNav {
  display: flex;
  gap: 32px;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
}

.tab {
  position: relative;
  font-size: var(--h3-size);
  line-height: var(--h3-line);
  font-weight: var(--h3-weight);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary);
}

.tabActive::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  height: 5px;
  width: 100%;
  background-color: var(--color-button);
  z-index: 2;
  transform: translateY(calc(5px / 2 - 1px / 2));
}
