.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 48px 64px 80px;
}
.container {
  display: grid;
  grid-template-columns: 360px 1fr;
  gap: 64px;
}

.sidebar {
  align-self: flex-start;
  position: sticky;
}

.content {
  width: 100%;
}
