:root {
  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-button: #e44848;
  --color-button-hover: #d84343;
  --color-rating: #ffc531;
  --color-gray-light: #dadde1;
  --color-input: #f7f7f7;
  --color-badge: #f2f4f7;
  --color-detail: #eaecef;
  --color-white: #ffffff;
  --color-hero-title: #f7f7f7;
  --text-primary: var(--color-main);
  --text-secondary: var(--color-text);
  --text-muted: var(--color-gray);
  --text-hero: var(--color-hero-title);
  --bg-page: var(--color-white);
  --bg-card: var(--color-white);
  --bg-input: var(--color-input);
  --bg-badge: var(--color-badge);
  --bg-badge-detailed: var(--color-detail);
  --bg-badge-feat: var(--color-gray-light);
  --border-light: var(--color-gray-light);
  --btn-primary-bg: var(--color-button);
  --btn-primary-bg-hover: var(--color-button-hover);
  --btn-secondary-bg-hover: var(--color-text);
  --btn-primary-text: var(--color-white);
  --btn-secondary-text: var(--color-main);
  --badge-bg: var(--color-badge);
  --badge-text: var(--color-main);
  --input-text: var(--color-main);
  --input-placeholder-text: var(--color-gray);
  --rating-star: var(--color-rating);

  --font-base: var(--font-inter);

  --h1-size: 48px;
  --h1-line: 32px;
  --h1-weight: 600;

  --h2-size: 24px;
  --h2-line: 32px;
  --h2-weight: 600;

  --h3-size: 20px;
  --h3-line: 24px;
  --h3-weight: 600;

  --button-m-size: 16px;
  --button-m-line: 24px;
  --button-m-weight: 500;

  /* header-navigation */
  --body-m-size: 16px;
  --body-m-line: 24px;
  --body-m-weight: 500;
  /* review, location */
  --body-s-size: 16px;
  --body-s-line: 24px;
  --body-s-weight: 400;
}
